.product-index {
  margin: 0px 50px 50px 50px;

}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 50px 64px 50px
}
a{
  text-decoration: none;
}
img{
  cursor: pointer;
}
